@media only screen and (min-width: 769px) {
  #sidebar {
    border-image: linear-gradient(
        to bottom,
        rgb(245, 5, 254),
        rgb(11, 243, 241)
      )
      1;
    border-width: 0px;
    border-right: 2px solid;
  }
}

@media only screen and (max-width: 768px) {
  #sidebar {
    border-image: linear-gradient(to right, rgb(245, 5, 254), rgb(11, 243, 241))
      1;
    border-width: 0px;
    border-bottom: 2px solid;
  }
}

#homeBtn {
  width: 100%;
  background-color: rgb(50, 26, 85);
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  color: rgb(245, 188, 176);
}

#homeBtn:hover {
  background-color: rgb(154, 85, 242);
  transition: 0.4s;
}

a {
  text-decoration: none;
}

.titles {
  font-family: "Games", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(245, 188, 176);
}

ul {
  list-style: none;
}

li {
  width: 100%;
  background-color: rgb(50, 26, 85);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

li:hover {
  background-color: rgb(154, 85, 242);
  transition: 0.4s;
}

li input {
  visibility: hidden;
  width: 0;
}

li input:checked + label {
  background-color: rgb(245, 5, 254);
  color: rgb(50, 26, 85);
}

li label {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

li label:hover {
  cursor: pointer;
}

.newLine {
  word-break: break-all;
  overflow-wrap: break-word;
}
